<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/ABT-PROJECT/Frontend/components/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
</head>
<body>
    <div class="navbar">
        <div class="profile">
            <img src="/ABT-PROJECT/Frontend/Assets/image/Logo.png" alt="User Profile Picture">
            <h2 class="Anjali">Anjali <span class="highlight">Bhardwaj</span></h2>
        </div>
        <div class="link">
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="BookEvent.html">Events</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="myProfile.html">Profile</a></li>
        </ul>
    </div>
    <div class="contact-btn-wrapper">
        <button class="contact-btn"><i class="fas fa-phone" ></i>
        Contact Us</button>
    </div>
    </div>
</body>
</html>